.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img{
    width: 250px;
    height: auto;
    border-radius: 100px;
    margin-top: 100px;

}

.hero h1{
    text-align: center;
    width: 50%;
    color: var(--subtitle);

}

.hero h1 span{
    background: linear-gradient(270deg, #DA7c25 0.36%, #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    text-align: center;
    width: 50%;
    font-size: 24px;
    line-height: 40px;
    color: var(--subtitle);
}

.connectBtn{
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 50px;
    padding: 20px 25px;
    border-radius: 50px;
    background: linear-gradient(270deg, #DA7c25 0.36%, #B923E1 102.06%);
    color: var(--title)
    cursor: pointer;
}
.connectBtn:hover{
    border: 2px solid white;
}